.card-box {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.card-box-button{
    float: right;
}

.card-box .card-box-button .mat-icon-button .mat-icon {
    opacity: 0;
}

.card-box:hover .card-box-button .mat-icon-button .mat-icon {
    opacity: 1;
}