<div class="page-main">
  <div class="card bg-light mb-3">
    <div class="card-header">
      Criação de grafico
    </div>
    <div class="card-body">
      <form [formGroup]="formCreateGraph">
        <div class="row">
          <div class="col">
            <mat-form-field class="form-graph">
              <input placeholder="Titulo do gráfico:" matInput [(ngModel)]="widget.caption" formControlName="caption" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <mat-form-field class="form-graph">
              <input placeholder="Altura:" matInput [(ngModel)]="widget.height" formControlName="height" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-radio-group [(ngModel)]="columnLayout" formControlName="columnLayout" (change)="changeCol()">
              <mat-radio-button value="1">Tamanho 1</mat-radio-button>
              <mat-radio-button value="2">Tamanho 2</mat-radio-button>
              <mat-radio-button value="3">Tamanho 3</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div [class]="widget.classCol">
            <app-chart #chart_template id="chart_template" [optionArray]="optionGraph" width="100px" [height]="widget.height"></app-chart>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
            <mat-form-field class="filtro-chip-list">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let filtro of optionFilter" [selectable]="selectable" [removable]="removable" (remove)="remove(filtro)"
                  [color]="filtro.color">
                  {{filtro.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Novo filtro..." #textoFiltro (keyup)="verifList($event, textoFiltro.value)" matInput [formControl]="chipControl"
                  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)" [matAutocomplete]="auto" />
              </mat-chip-list>
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectOption($event, textoFiltro)">
              <mat-option *ngFor="let option of options | filtroName: textoFiltro.value" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="col-2 button-row">
            <button mat-mini-fab (click)="addSerie($event, chart_template)" color="basic">
              <mat-icon aria-label="Adicionar">check</mat-icon>
            </button>
            <button mat-mini-fab (click)="changeSort($event, chart_template)">
              <mat-icon aria-label="Mudar order">swap_vert</mat-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div formArrayName="items">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let op of optionGraph.controls; let i=index;" hideToggle="true"
                                    [formGroupName]="i">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{op.value.tituloSerie}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{op.value.unit_type}}
                  </mat-panel-description>
                  <mat-icon>mode_edit</mat-icon>
                </mat-expansion-panel-header>
                  <mat-form-field class="form-graph">
                    <input placeholder="Titulo da serie:" matInput formControlName="tituloSerie"/>
                  </mat-form-field>
                  <mat-selection-list>
                    <mat-list-option *ngFor="let detail of op.value.options">
                      {{detail.com ? 'Com ' : 'Sem '}} {{detail.origin == 'SITE' ? 'o site: ' : ''}} {{detail.origin == 'NODE' ? 'o elemento: '
                      : ''}} {{detail.origin == 'GROUP' ? 'o grupo: ' : ''}} {{detail.name}}
                    </mat-list-option>
                  </mat-selection-list>
                  <mat-action-row>
                    <button mat-button color="warn" (click)="removerSerie($event, i, chart_template)">Remover</button>
                  </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-raised-button color="primary" (click)="salvarWidget()">
              Salvar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>