<td-layout>
    <td-navigation-drawer>
        <div class="mat-toolbar">
            <div class="div-avatar-profile">
                <img src="../assets/ale.jpg" class="avatar-profile"/>
                <mat-divider class="space-element"></mat-divider>
                <div>
                    <span class="label-font">Alessandro Ericsson</span>
                    <span class="label-font font-small">alessandro.ericsson@flexvision.com.br</span>
                </div>
                <div class="space-element"></div>
            </div>
        </div>
        <mat-nav-list>
            <a mat-list-item *ngFor="let dash of dashboards" [routerLink]="['/board/', dash.id]">
                <mat-icon>dashboard</mat-icon>{{dash.titleDash}}
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item  [routerLink]="['/company/']">
                <mat-icon>settings</mat-icon>Configurações
            </a>
        </mat-nav-list>
    </td-navigation-drawer>
    <td-layout-nav [toolbarTitle]="title">
        <button mat-icon-button td-menu-button tdLayoutToggle>
            <mat-icon>menu</mat-icon>
        </button>
        <div td-toolbar-content class="toolbar-top">
            <button mat-icon-button (click)="openDialog()" matTooltip="Criar Dashboard">
                <mat-icon>add</mat-icon>
            </button>
            
            <img [src]="company.logo" class="logo"/>
        </div>
        <mat-sidenav-container fullscreen>
            <router-outlet></router-outlet>
        </mat-sidenav-container>
    </td-layout-nav>
</td-layout>