<div class="container-fluid">
    <h4>Dashboard - Teste (Flex)</h4>
    <div class="row" *ngFor="let row of rowsDrag; let row_index = index">
        <div class="col" *ngFor="let container of row.containers; let i = index">
            <div dnd-sortable-container [sortableData]="row.containers" [dropZones]="['container-dropZone']">
                <div dnd-sortable [sortableIndex]="i">
                    <div class="card bg-light mb-3"
                        dnd-sortable-container [sortableData]="container.widgets" [dropZones]="['widget-dropZone']">
                        <div class="card-header">
                            {{container.id}} - {{container.name}}
                        </div>
                        <div class="card-body">
                            <app-widget *ngFor="let widget of container.widgets; let x = index"
                                dnd-sortable [sortableIndex]="x" [dragData]="widget"></app-widget>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [dragEnabled]="!dragOperation" -->