$mat-flex-primary: ( 50: #f65e01, 100: #f66106,
 200: #f66912,
 300: #f77525,
 400: #f8843d,
 500: #f99558,
 600: #faa774,
 700: #fbb990,
 800: #fcc8a8,
 900: #fdd6be,
	contrast: (
		50:  $light-primary-text,
		100: $light-primary-text,
		200: $light-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
	)
);

$mat-flex-accent: ( 50: #003399, 100: #05379b,
 200: #1241a0,
 300: #2550a8,
 400: #3d63b2,
 500: #5879bd,
 600: #7490c8,
 700: #90a6d3,
 800: #a8badd,
 900: #becbe6,
	contrast: (
		50:  $light-primary-text,
		100: $light-primary-text,
		200: $light-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $dark-primary-text,
		600: $dark-primary-text,
		700: $dark-primary-text,
		800: $dark-primary-text,
		900: $dark-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
	)
);