@import '~@angular/material/theming';
@import './flex-var.scss';
@include mat-core();

// Typography
$custom-typography: mat-typography-config(
  $font-family: Raleway,
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400)
);
@include angular-material-typography($custom-typography);

// Default colors
$my-app-primary:  mat-palette($mat-flex-primary, 50, 100, 200);
$my-app-accent:  mat-palette($mat-flex-accent, 50, 100, 200);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);